li{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(0,0,0,1) 100%); */
}
img{
    width:256px;
    height: 256px;
    border-radius: 8px;
}