* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    position: sticky;
            top: 0;
}
footer {
    position: sticky;
    bottom: 0;
}
body, html, #root {
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    width: 100%;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    border-radius: 5px;
}
nav a {
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    background-color: #b1b1b1;
    border-radius: 5px;
}